/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Colors used:
	background: #222629
*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background-color: #222629;
	background: 
		-webkit-gradient(
			linear,
			left top, left bottom,
			from(rgba(0, 0, 0, 0.8)),
			to(rgba(0, 0, 0, 0.8))
		),
		url(../img/abstract.jpg);
	background: 
		-o-linear-gradient(
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.8)
		),
		url(../img/abstract.jpg);
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.8)
		),
		url(../img/abstract.jpg);
	background-size: cover;
	font-family: 'Nerko One', cursive;
	font-weight: 400; 
	font-size: 20px;
	/* sets font size to 16px */
	line-height: 1.6;
	/* sets the line-height to 1.6 */
	color: #fff;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

h1 {
	font-size: 40px;
	font-weight: 400;
	color: #66fcf1;
}

h2 {
	color: #66fcf1;
	font-weight: 300;
}

p {
	font-weight: 400;
}

th {
	font-weight: 400;
}

span {
	border: 2px solid #6b8ab3;
	width: 100px;
	height: 50px;
	color: #D93757; 
}


.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;	
  padding-top: 50px;
}

/* home page */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #92a4be;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  width: 200px;
  height: auto;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.nav-list {
  list-style-type: none;
}

.nav-list__item {
	font-size: 30px;
	-webkit-transition: font-size 0.2s;
	-o-transition: font-size 0.2s;
	transition: font-size 0.2s;
}

.nav-list__item:hover {
	font-size: 34px;
}

.nav-list li {
  display: inline-block;
  margin-left: 15px;
}

.nav-list__item--active {
	text-decoration: none;
}

.profile-portrait {
	float: left;
	width: 250px;
	height: 250px;
	margin-right: 40px;
	border-radius: 50%;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
	padding-top: 50px;
}

/* about me page */
.about-page {
	margin: auto;
	text-align: center;
}

.hobbies {
	display: inline-block;
	position: relative;
	margin-right: 30px;
	max-width: 500px;
}

.hobbies-list {
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-size: 18px;
	list-style-type: none;
}


.skills {
	display: inline-block;
	position: relative;
	margin-left: 20px;
	max-width: 500px;
	vertical-align: top;	
}

.experience {
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-left: 40px;
}

/* grid fallback */
.grid__item {
	display: inline-block;
	width: 33%;
}

/* work page */
@supports (display: grid) {
.grid {
	display: -ms-grid;
	display: grid;
  	-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px; 	
}
}

.grid__item {
	background-color: #303e53;
	width: auto;
	min-height: auto;
	margin: 0;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 50px 15px;
}

.grid__item:last-child {
	-ms-grid-column: 3;
	grid-column: 3 / 3;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	grid-row: 1 / 3;
}

/*contacts pg */
.contact-header {
	text-align: center;
}

.contact-page {
	text-align: center;
}

.contact-info {
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: top;
	left: 80px;
}

.contact-form {
	display: inline-block;
	position: relative;
	vertical-align: top;
	text-align: left;
	left: 150px;
	margin-left: 10px;
}

#contact-email, #contact-phone, #message-box {
	width: 400px;
}



/* link styles */ 
a {
	color: #66fcf1;
}

a:visited {
	/* visited link */
	color: #3d9790;
}

a:hover {
	text-decoration: none;
	color: #D93757;
}

a:focus {
	text-decoration: none;
	color: #D93757;
}

a:active {
	color: #45a29e;
}

/* button styles */
button,
.button,
.button2 {
	/* overwrites border defaults and resets border */
	border: none;
	display: inline-block;
	/* takes the font from outer container */
	font-family: inherit;
	background-color: #354968;
	color: #bec7d7;
	text-decoration: none;
	/* adds spacing to the button */
	padding: 10px;
	width: auto;
	border-radius: 3px;
	border-bottom: 2px solid rgba (0, 0, 0, 0.3);
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

button:hover {
	/* lets the mouse appear as hand when hovering over button */
	cursor: pointer;
	/* reduces opacity of button */
	opacity: 0.8;
	background-color: #66fcf1;
	color: #263041;
}

button:focus {
	/* lets the mouse appear as hand when hovering over button */
	cursor: pointer;
	/* reduces opacity of button */
	opacity: 0.8;
	background-color: #66fcf1;
	color: #263041;
}

.button:hover {
	/* lets the mouse appear as hand when hovering over button */
	cursor: pointer;
	/* reduces opacity of button */
	opacity: 0.8;
	background-color: #66fcf1;
	color: #263041;
}

.button:focus {
	/* lets the mouse appear as hand when hovering over button */
	cursor: pointer;
	/* reduces opacity of button */
	opacity: 0.8;
	background-color: #66fcf1;
	color: #263041;
}

.button2:hover {
	/* lets the mouse appear as hand when hovering over button */
	cursor: pointer;
	/* reduces opacity of button */
	opacity: 0.8;
	background-color: #66fcf1;
	color: #263041;
}

.button2:focus {
	/* lets the mouse appear as hand when hovering over button */
	cursor: pointer;
	/* reduces opacity of button */
	opacity: 0.8;
	background-color: #66fcf1;
	color: #263041;
}
	
/* end button styles */

/* animations */
.sun {
	-webkit-animation: 4s color-change infinite alternate linear;
	        animation: 4s color-change infinite alternate linear;
}
@-webkit-keyframes color-change {
  from {
	fill: #edc655;
  }
  to {
	fill: #f76414;
  }
}
@keyframes color-change {
  from {
	fill: #edc655;
  }
  to {
	fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
	from {
	  -webkit-transform: translate(0, 50px);
	          transform: translate(0, 50px);
	}
	to {
	  -webkit-transform: translate(200px, 50px);
	          transform: translate(200px, 50px);
	}
}

@keyframes cloud-move {
	from {
	  -webkit-transform: translate(0, 50px);
	          transform: translate(0, 50px);
	}
	to {
	  -webkit-transform: translate(200px, 50px);
	          transform: translate(200px, 50px);
	}
}

.cloud-front {
	-webkit-animation: 30s cloud-move infinite alternate linear;
	        animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
	from {
	  -webkit-transform: translate(446px, 48px);
	          transform: translate(446px, 48px);
	}
	to {
	  -webkit-transform: translate(100px, 48px);
	          transform: translate(100px, 48px);
	}
}

@keyframes cloud-move-reverse {
	from {
	  -webkit-transform: translate(446px, 48px);
	          transform: translate(446px, 48px);
	}
	to {
	  -webkit-transform: translate(100px, 48px);
	          transform: translate(100px, 48px);
	}
}


.cloud-back {
	-webkit-animation: 30s cloud-move-reverse infinite alternate linear;
	        animation: 30s cloud-move-reverse infinite alternate linear;
}
/* media query */
@media all and (max-width: 500px) {
	.grid {
	  -ms-grid-columns: 1fr;
	  grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
	  -ms-grid-columns: 1fr 20px 1fr;
	  grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px) {
	.grid {
	  grid-gap: 10px;
	}
	.grid__item:last-child {
	  grid-column: auto / auto;
	  grid-row: auto / auto;
	}
	h1 {
	  font-size: 22px;
	}
}


	